BODy {
    margin: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

#main_up_container {
    height: 400px;
    background-color: antiquewhite;
}

#main_bottom_container {
    background-color: rgb(240, 222, 195);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr max-content;
    place-items: center;
    /* gap: 20px; */
    /* padding: 10px; */
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
.outer_frame_table {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* border: 1px solid #000; */
}
::-webkit-scrollbar {
    width: 4px;
    /* background-color: rgba(199, 161, 161, 0);
    color: aqua; */
}
::-webkit-scrollbar-thumb {
    background-color: rgb(83, 83, 83);
    border-radius: 3px;
}

table {
    border-collapse: collapse;
    height: min-content;

    width: 400px;
}
td {
    /* background-color: antiquewhite; */
    border: 1px solid rgb(172, 172, 172);
    padding: 9px;
    width: auto;
    height: 40px;
}
td:not(:last-of-type) {
    max-width: 110px;
    /* min-width: 100px; */
    width: 110px;
}
td:last-of-type{
    
}

/* последняя ячейка не в хеад */
tr:not(thead tr) td:last-of-type {
    padding: 0px;
}
/* кнопка последней ячейки не в хеад
tr:not(thead tr) td:last-of-type > *{
    background-color: rgb(233, 233, 233);
    height: 20px;
    width: 20px;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 3px;
    padding: 0;
    transition: all 200ms;
}
/* кнопка последней ячейки не в хеад ховер 
tr:not(thead tr) td:last-of-type:hover > *{
    background-color: #dfdfdf;
} */


/* tbody{
    gap: 0px;
    height: 200px;
    overflow: scroll;
} */

thead,
tfoot {
    background-color: rgb(223, 163, 94);
}


/* .button_cell{
    padding: 0;
    display: flex;
    place-content: center;
    height: 100%;
    flex-direction: column;

    
}

.button_cell > * {
    
    
} */
/* //////////////////////////////////////////////////////////////////////////////////////// */

.table_manager_container {
    height: 30px;
    margin: 5px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table_manager_button {
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
#create_form {
    display: inline-block;
    padding: 10px;
    width: 300px;
    border-radius: 11px;
    border: 1px solid rgb(121, 121, 121);
    background-color: aliceblue;



}

#create_form_container {
    background-color: rgba(0, 0, 0, 0.356);
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 9999;
    visibility: hidden;

}

#create_form_container:before {
    display: inline-block;
    height: 100%;
    content: "";
    vertical-align: middle;
}

#create-form input[name="text"] {
    display: block;
    margin: 5px;
    width: 180px;
}

.create_form_bottom{
    display: flex;
    height: 30px;
    justify-content: end;
    gap: 5px;

}

datalist{
    padding-top: 25px;
}



/* #save_form_button, #hide_form_button{
    border-radius: 4px;
    border: 1px solid #a3a3a3;
    cursor: pointer;

} */


/* #save_form_button{
    background-color: #76e78f;
} */

.inputs{
    width: 100%;
    padding: 2px;
    height: 30px;
    box-sizing: border-box; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    margin-bottom: 10px;
}

.err{
    border: 1px solid red
}