BODy {
    margin: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    background-color: #e8e8e8;
    height: 100vh;
}

#main_up_container {
    height: 400px;
    background-color: #d8d8da;
}

#main_bottom_container {
    /* height: 100%; */
    display: flex;
    place-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    /* padding: 10px; */
}

@media (max-width: 820px) {
    #main_bottom_container {
        flex-direction: column;
    }
}
/* //////////////////////////////////////////////////////////////////////////////////////// */
.outer_frame_table {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom-left-radius: 10px;
    border-radius: 10px 5px 5px 10px;
    border: 1px solid #233446;
}
::-webkit-scrollbar {
    width: 4px;
    /* border-right: 1px solid rgb(212, 212, 212);
    border-top: 1px solid rgb(212, 212, 212);
    border-bottom: 1px solid rgb(212, 212, 212); */
    border-left: 1px solid rgb(172, 172, 172);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(83, 83, 83);
    border-radius: 0px 3px 3px 0px;
}

table {
    border-collapse: collapse;
    height: min-content;
    border-style: hidden;
    width: 100%;
    overflow: hidden;
    
}
td {
    border: 1px solid rgb(172, 172, 172);
    padding: 9px;
    height: 35px;
    
}
td:not(:last-of-type) {
    /* max-width: 110px;
    width: 110px; */
    width: 31%;
}


tr:not(thead tr) td:last-of-type {
    padding: 5px;
    width: 20px;
}

/* /////////////////////////////////////////// */
tr:not(thead tr) {
    /* background-color: #9a9aa1; */
}

tr:not(thead tr):hover {
    background-color: #cfcfd1;
}

tr.select {
    background-color: #bcbdc2;
}

tr:not(thead tr).select:hover {
    background-color: #9a9a9e;
}
/* /////////////////////////////////////////// */

/* кнопка последней ячейки не в хеад
tr:not(thead tr) td:last-of-type > *{
    background-color: rgb(233, 233, 233);
    height: 20px;
    width: 20px;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 3px;
    padding: 0;
    transition: all 200ms;
}
/* кнопка последней ячейки не в хеад ховер 
tr:not(thead tr) td:last-of-type:hover > *{
    background-color: #dfdfdf;
} */

/* tbody{
    gap: 0px;
    height: 200px;
    overflow: scroll;
} */

thead,
tfoot {
    background-color: #233446;
    color: #e8e8e8;
    font-weight: 600;
    user-select: none;

}


thead td:not(:last-of-type):hover {
    background-color: #2c4157;
}

thead td:not(:last-of-type).select {
    background-color: #344b63;
}

/* .button_cell{
    padding: 0;
    display: flex;
    place-content: center;
    height: 100%;
    flex-direction: column;

    
}

.button_cell > * {
    
    
} */
/* //////////////////////////////////////////////////////////////////////////////////////// */

.table_manager_container {
    height: 30px;
    margin: 5px;
    /* width: 400px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}

.table_manager_button {
}

.border_table {
    /* width: min-content;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-radius: 7px; */
    width: 100%;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
#create_form, #confirm_form {
    display: inline-block;
    padding: 10px;
    width: 300px;
    border-radius: 11px;
    border: 1px solid rgb(121, 121, 121);
    background-color: aliceblue;
}

#create_form_container, #confirm_form_container{
    background-color: rgba(0, 0, 0, 0.356);
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 9999;
    visibility: hidden;
}

#create_form_container:before, #confirm_form_container:before {
    display: inline-block;
    height: 100%;
    content: "";
    vertical-align: middle;
}

#create-form input[name="text"] {
    display: block;
    margin: 5px;
    width: 180px;
}

.create_form_bottom, #confirm_form_bottom {
    display: flex;
    height: 30px;
    justify-content: end;
    gap: 5px;
}

datalist {
    padding-top: 25px;
}

/* #save_form_button, #hide_form_button{
    border-radius: 4px;
    border: 1px solid #a3a3a3;
    cursor: pointer;

} */

/* #save_form_button{
    background-color: #76e78f;
} */

.inputs {
    width: 100%;
    padding: 2px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    font-size: 15px;
    margin-bottom: 10px;
}

.err {
    border: 1px solid red;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */

.flat_button {
    background-color: #233446;
    color: #e8e8e8;
    border: 0;
    border-radius: 5px;
    padding: 4px;

    /* transition: color 200ms ease; */
}
.flat_button:hover {
    background-color: #6c6b77;
}

.default_size{
    width: 70px;
    height: 30px;
    margin: 10px;
}

#table_manager_button_delete_expens{
    visibility: hidden;
}

#table_manager_button_delete_income{
    visibility: hidden;
}