<header class="th-primmary ">
  <nav class="navbar navbar-expand-lg th-primmary">
    <div class="container-fluid ">
      <a class="navbar-brand" href="/">FMS Angular</a>
      <div class="navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 d-flex">
          <li class="nav-item">
            <a class="nav-link " routerLink="/" [class.active]="router.url === '/' ? 'page' : null">Главная</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="charts" [class.active]="router.url === '/charts' ? 'page' : null">Статистика
              {{ statisticYear() }}</a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0 d-flex">
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Дополнительно
            </a>
            <ul class="dropdown-menu" [attr.data-bs-theme]="theme.darkTheme() ? 'dark' : null">
              <li><a class="dropdown-item w-100 text-wrap" (click)="setDefaultData()" pointner>Установить тестовыеданные</a></li>
            </ul>
          </li>
          <button class="btn" (click)="theme.toggleDarkTheme()">
            <img [ngSrc]='imagePath()' alt="theme" class="" priority width="25" height="25" />
          </button>
        </ul>
      </div>
    </div>
  </nav>
</header>