<div class="d-flex justify-content-center th-background-second">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link w-5-rem d-flex justify-content-center p-1 " pointner aria-current="page"
        [class.active]="filter.interval() === 'day'" (click)="filter.setIntervalDay(); onIntervalChange.emit();">День</a>
    </li>
    <li class="nav-item">
      <a class="nav-link w-5-rem d-flex justify-content-center p-1" pointner aria-current="page"
        [class.active]="filter.interval() === 'month'" (click)="filter.setIntervalMonth(); onIntervalChange.emit();">Месяц</a>
    </li>
    <li class="nav-item">
      <a class="nav-link w-5-rem d-flex justify-content-center p-1" pointner aria-current="page"
        [class.active]="filter.interval() === 'year'" (click)="filter.setIntervalYear(); onIntervalChange.emit();">Год</a>
    </li>
  </ul>
</div>