
<div class="overflow-hidden rounded-2 border">
  <table class="table table-striped-columns m-0">
    <thead>
      <tr class="h-3-rem align-middle">
        <th class="bg-primary text-color-light user-select-none w-31" (click)="categorySort()">
          Категория{{ sortService.getMarker('category') }}
        </th>
        <th class="bg-primary text-color-light user-select-none w-31" (click)="valueSort()">
          Сумма{{ sortService.getMarker('value') }}
        </th>
        <th class="bg-primary text-color-light user-select-none w-31" (click)="dateSort()">
          Дата{{ sortService.getMarker('date') }}
        </th>
        <th class="bg-primary text-color-light user-select-none"></th>
      </tr>
    </thead>

    <tbody>
      @for (data of sortedData(); track $index) {
      <tr class="h-3-rem align-middle" (click)="isNotLastChildElement($event) ?? toggleData(data)" selectable [selected]="this.selectedData().includes(data)">
        <td>{{ data.category }}</td>
        <td>{{ data.value }}</td>
        <td>{{ data.date | date : 'dd.MM.yy' }}</td>
        <td selectable (click)="editData(data)">
          <div class="w-100 d-flex justify-content-center"><img src='assets/images/pencil.png' alt="edit" class="h-1-rem"/></div></td>
      </tr>
      
      }
    </tbody>
  </table>


</div>


