@import "bootstrap";

body {
  overflow-y: scroll !important;
}

:root {
  --text-dark-color: #333;
  --text-white-color: #f8f8f8;
}

:root {
  --bg-color: #f6f7f8;
  --bg-second-color: #e1e4e7;
  --primmary-color: #0d6efd;
  --text-color: black;
  --icon-filter: invert(0);
}

.dark-theme {
  --bg-color: #1e1e1e;
  --text-color: white;
  --bg-second-color: #292d31;
  --icon-filter: invert(1);
}

.th-background {
  background: var(--bg-color) !important;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.th-background-second {
  background: var(--bg-second-color) !important;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.th-primmary{
  background: var(--primmary-color) !important;
}

.th-text {
  color: var(--text-color) !important;
}

.th-svg {
  filter: var(--icon-filter, none);
}

/* //////////////////////////////////////////////////////////////////////// */

h1 {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.text-color-light {
  color: var(--text-white-color) !important;
}

.text-color-dark {
  color: var(--text-dark-color) !important;
}

/* //////////////////////////////////////////////////////////////////////// */

.w-23 {
  width: 23%;
}

.w-5-rem {
  width: 5rem;
}

.h-25rem {
  height: 22rem;
}

.h-screen{
  height: 100vw;
}
/* //////////////////////////////////////////////////////////////////////// */

.h-1-rem {
  height: 1rem;
}

.h-3-rem {
  height: 3rem;
}

.h-4-rem {
  height: 4rem;
}

.h-2-rem {
  height: 2rem;
}


